.logo{
width: 20%;
position: relative;
right: 10%;
}
.logo1{
  width: 30%;
}
.about {
  background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    }

div {
    background-color: #a6dcef;
    border-bottom: 0;
    padding-left: 0;
    }

body{
  display: block;
  margin: 0;
}

.left{
  height:40px;
  width: 150%;
  position: relative;
  left: 800%;


}

.right{
  height:40px;
  width: 150%;
  position: relative;
  left: 1295%;
}

.landimage{
  position: relative;
  left: 20%;
}


.center{
  height:40px;
  width: 175%;
  position: relative;
  left: 400%;
}

input{
  display: inline-block;
  width: 10%;
  height: 20%;
  border-style: none;
  font-style: oblique;
  font-family: cursive;
}

.second{
  background-color: #a6dcef;
  height: 710px;
}

.title{
  margin-top: 0;
  font-size: 500%;
  font-family: cursive;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 0;
  position: relative;
  left: 30%;
}

.subtitle{
   font-size: 160%;
   font-family: cursive;
   font-style: oblique;
   position: relative;
   left: 40%;
   color: #251f44;
 }

.abouttitle{
font-size: 200%;
font-style: oblique;
font-family: cursive;
margin-top: 0;
margin: 0;
color: red;
}

.aboutnotes{
  font-size: 150%;
  font-style: oblique;
  font-family: cursive;
  color: #251f44;
}

.support{
  width: 200px;
  font-style: oblique;
  font-family: monospace;
  font-size: 20px;
  background-color: #a2de96;
  text-decoration: none;
  color: black;
}

.bottom{
  background-color: #e2979c;
  font-style: oblique;
  font-family: sans-serif;
}

.bottomimg{
  border-style: solid;
  background-color: #e2979c;
  font-size: 15px;
  font-family: cursive;
  text-decoration: none;
  color: black;
  position: relative;
  left: 900%;
}

.bottomimg1{
  border-style: solid;
  position: relative;
  left: 900%;
  background-color: #e2979c;
  font-size: 15px;
  font-family: cursive;
  text-decoration: none;
  color: black;
}

.bottomimg2{
  border-style: solid;
  position: relative;
  left: 900%;
  background-color: #e2979c;
  font-size: 15px;
  margin-bottom: 0;
  font-family: cursive;
  text-decoration: none;
  color: black;
}
